.avis {
    margin-top: 5%;
}

.titre {
    text-align: center;
    width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-transform: uppercase;
    z-index: 2;
}

.message {
    text-align: center;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 20px;
    z-index: 2;
}
.carrousel {
    z-index: 1;
}
.portrait {
    z-index: 0;
}
.portrait2 {
    display: none;
    z-index: 0;
}
@media screen and (max-width : 1400px) {
    .carrousel{
        display: none;
    }
    .portrait{
        display: block;
    }
    .titre{
        font-size: 30px;
    }
    .message{
    }   
}

@media screen and (max-width : 800px) {
    .carrousel{
        display: none;
    }
    .portrait{
        display: none;
    }    
    .portrait2{
        display: block;
    }
    .titre{
        font-size: 30px;
    }   
}
