.utilisation
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 3.3%;
    font-family: 'Prompt', sans-serif;
    color: white;
    padding: 20px;


}

.item-rose{
    background-color: #F0636D;
    font-size: 30px;
    border-radius: 20px 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;


}

.item-bleu{
    background-color: #1076FF;
    font-size: 30px;
    border-radius: 20px 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.item-orange{
    background-color: #FF725E ;
    font-size: 30px;
    border-radius: 20px 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}


@media screen and (max-width: 768px) {
    .utilisation {
        grid-template-columns: 100%;
    }
    }
