h1 {
    color:white;
    background: linear-gradient( 25deg,  rgba(4, 25, 66, 1), rgba(16, 118, 255, 1));
    text-align: center;
    font-size: 20px;
    height: 50px;
    padding-top: 15px;
}

body {
    font-family: 'Prompt', sans-serif;
}

.all{
    background-color:rgba(248, 247, 248, 1);
    width: 600px;
    height: 500px;
    box-shadow: 0 2px 3px 0 #ababab;
    border:0 none;
    outline:0;

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"]
{
    border:0 none;
    outline:0;
    height: 30px;
    width: 100%;
}

input[type="submit"]{
    border: none;
    background-color: #1076FF;
    padding: 10px 80px;
    color: white;
}

.container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 250px 200px;
    grid-template-rows: 60px 200px;
    padding: 20px;
    text-align: center;
    font-size: 15px;
}

.footer {
    display: flex;
    justify-content: space-evenly ;
    padding: 1em ;
    font-size: small;
}
.input-container{
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 2px 3px 0 #ababab;
    border:0 none;
    outline:0;
}

.icon {
    padding: 8px;
    background: #cfcfcf;
    color: black;
    text-align: center;
>>>>>>> dbc327b260cb603df481799bfb57d71f2ddfb17e
}