.footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    box-shadow: 0 2px 3px 0 #ababab;
    background-color: #F8F7F8;
} 

.footer div{
    width: 32%;
    padding-top: 5px;
    padding: 10px;
    box-sizing: border-box;
    height: relative;
}

.footer div:nth-child(1){
    width: 100%;
    text-align: center;
}
.divi{
    background-color: #FFFFFF;
}

.footer div:nth-child(3){
     margin-left: 40px;
     text-align: left;
     width: 20%;
}

.footer div:nth-child(5){
    width: 100%;
}

.content-3{
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
}
.content-3 img{
  margin-left: 10%;
  margin-right: 10%;
}
.content-3 div{
    width: 100%;
    text-align: center;
    align-content: center;
}


#img4{
    float: left;
    margin-left: 20%;
    margin-right: 5%;
}

.flex-3{
    padding-top: 100%;
}

.flex-3 div{
    width: 100%;
}

.flex-3 div:nth-child(2){
    text-align: center;
    padding: 5%;
    margin: 2%;
}

.uli{
    list-style: none;
    margin-left: -40px;
 }

 .uli li{
     width: 50%;
 }

 .ula{
    list-style: none;
    margin-left: 0x;  
 }


@media screen and (max-width: 800px){
.footer{
    display: block;
}
.footer div:nth-child(2){
    width: 100%;
    margin-left: 30px;
    padding-right: 100px;
}
.footer div:nth-child(3){
    width: 100%;
}
.footer div:nth-child(4){
    width: 100%;
}
.footer div:nth-child(5){
    display: none;
}
.flex-3 div:nth-child(1){
    width: 30%;
    float: right;
    text-align: left;
}
.flex-3 div:nth-child(2){
    width: 65%;
    float: left;
    text-align: left;
    margin-left: -40px;
}
.content-3{
    border-top: 5px solid black;
}
}